<?xml version="1.0" encoding="UTF-8" ?>
</mapper>

    </update>
        WHERE id = #{id}
        </set>
            </if>
                password = #{password},
            <if test="password != null and password != ''">
            </if>
                avatar = #{avatar},
            <if test="avatar != null and avatar != ''">
            </if>
                nickname = #{nickname},
            <if test="nickname != null and nickname != ''">
        <set>
        UPDATE t_user
    <update id="update" parameterType="User">
    <!-- 更新用户信息 -->

    </insert>
        VALUES (#{username}, #{password}, #{nickname}, #{avatar}, NOW())
        INSERT INTO t_user (username, password, nickname, avatar, create_time)
    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
    <!-- 插入新用户 -->

    </select>
        WHERE username = #{username}
        FROM t_user
        SELECT id, username, password, nickname, avatar, create_time
    <select id="selectByUsername" resultMap="UserResultMap">
    <!-- 根据用户名查询用户 -->

    </select>
        WHERE id = #{id}
        FROM t_user
        SELECT id, username, password, nickname, avatar, create_time
    <select id="selectById" resultMap="UserResultMap">
    <!-- 根据ID查询用户 -->

    </resultMap>
        <result property="createTime" column="create_time"/>
        <result property="avatar" column="avatar"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="username" column="username"/>
        <id property="id" column="id"/>
    <resultMap id="UserResultMap" type="User">
    <!-- 用户结果映射 -->

<mapper namespace="org.zhengyuxuan.mapper.UserMapper">
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
<!DOCTYPE mapper

